:root{
  --background:#101114;
  --primary-color:#1C1D20;
  --secondary-color:#4A4D57;
  --accent-color:#00FFC4;
  --text-color:#F9F9F9;

}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: ;
  font-size: ;
  color: var(--text-color);
}
body{
  min-height: 100vh;
  padding: 10px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 3rem;
  font-weight: 800px;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
}
.wrapper{
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#test-todo-input{
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
  background-color: none;
  border: 2px solid var(--secondary-color);
  border-radius: 100px;
  font: inherit;
  color: var(--text-color);
  caret-color: var(--accent-color);

}
#test-todo-input:focus{
     outline: none;
}
form{
  position: relative;
}
#add-button{
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--accent-color);
  height: 100%;
  padding: 0 30px;
  border: none;
  border-radius: 1000px;
  font: inherit;
  font-weight: 600;
  color: var(--background);
  cursor: pointer;

}
.test-todo{
  margin-bottom: 10px;
  padding: 0 16px;
  background-color: var(--primary-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.todo .test-todo-text{
  padding: 15px;
  padding-right: 0;
  flex-grow: 1;
}
.test-todo-delete-button{
  padding: 3px;
  background: none;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}